<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap"
	rel="stylesheet">

<head>
	<title>Academy Sistem</title>
</head>
<meta name="author" content="Denis Queiroz" />
<link rel="stylesheet" href="css/style.css">

<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4527A0;">
           <a class="navbar-brand" href="#">
            <img src="img/logo_header-site.png" width="200px" />
           </a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
           <span class="navbar-toggler-icon"></span>
           </button>
           
           <div id="navMobile" class="navbar-collapse collapse justify-content-end">
           
             <a class="nav-item nav-link">Home</a>
             <a class="nav-item nav-link">Cadastrar Aluno</a>
             <a class="nav-item nav-link">Pesquisar Aluno</a>
             <a class="nav-item nav-link btn-danger">Sair</a>
           
           </div>
		</nav>

	</header>
	
   <section class="neo-section" style="background-image: url('img/bg-index.jpg');">
   <div class="sombra"></div>
   <div class=" center neo-container">
    <h1 class="texto-centro">Sistema de Gerenciamento de Aluno</h1>
   
   
   <div class="botoes">
   <div class="wm">
      <h5  class="btn"> Cadastrar Auluno</h5>
   </div>
   
    <div class="wm">
       <h5 class="btn justify-content-center"> Encontrar Auluno</h5>
   </div>
   
   <div class="clear"></div>
   
   </div>
   </div>
   </section>
<footer >
<div class="rodape">
<span>Todos os Direitos Reservados - 2021 &copy: Denis Queiroz</span>
</div>
</footer>

</body>
<scrip src="/webjars/jquery/3.5.1/jquery.min.js"></scrip>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</html>